.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.foggy_city {
  height: 100vh;
  width: 100%;
  background: white
}

.absolute-bg {
  position: absolute;
  background-color: black;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.fog-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.fog-img {
  position: absolute;
  height: 100vh;
  width: 500vw;
  z-index: 3;
}

.first_fog {
  background: url("./Images/big_long_fog.png");
  background-repeat: repeat-x;
  background-size: auto;
  background-position: left;
  animation: foggy 80s linear infinite;
}

.second_fog {
  background: url("./Images/short_fast_fog.png");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center;
  animation: foggy 60s linear infinite;
}

.lamp_light {
  position: absolute;
  background: url("./Images/darker_lamp_post.png");
  height: 100%;
  width: 20%;
  background-position: 100%;
}

.to_office {
  margin-left: 30vh;
  color: #43433D;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 80%;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-start;
}

@keyframes foggy {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-200vw, 0, 0);
  }
}
